<div class="modal-dialog text-center">
    <div class="col-sm-10 main-section">                
        <div class="modal-content">
          <br>
            <form class="col-12">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Enter Name">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">City</span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Enter City">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Sector</span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Enter Sector">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">House No</span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Enter House Number">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">Street</span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Enter street">
                </div>

                <br>
                <div>
                    <button class="btn btn-info" routerLink="/orderconfirm">Confirm</button>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>